In [1]:
import pandas

In [2]:
permanentWaterReserves = pandas.read_excel('Districts_Water_Reserves.xlsx')
print(permanentWaterReserves)

           City Name     Province     premWater          area
0             Chaman  Balochistan  6.627625e+06  5.100645e+14
1             Chagai  Balochistan  1.914133e+04  3.959682e+10
2             Gwadar  Balochistan  7.535710e+04  2.591403e+10
3             Awaran  Balochistan  2.106868e+04  2.577597e+10
4            Lasbela  Balochistan  8.470135e+04  2.410751e+10
..               ...          ...           ...           ...
120         Musakhel  Balochistan  0.000000e+00  4.238674e+08
121     East Karachi        Sindh  8.519608e+01  2.047757e+08
122     West Karachi        Sindh  2.446235e+02  1.888636e+08
123    South Karachi        Sindh  2.911412e+02  1.163020e+08
124  Central Karachi        Sindh  2.027451e+00  6.348250e+07

[125 rows x 4 columns]

In [3]:
elevations = pandas.read_csv('Elevations_Timeseries_Final.csv')
print(elevations)

           City Name            Province   Above 2500     Below 40  \
0              Badin               Sindh     0.000000  7286.466667
1    Central Karachi               Sindh     0.000000    37.254902
2               Dadu               Sindh     0.000000  1111.360784
3       East Karachi               Sindh     0.000000    91.333333
4             Ghotki               Sindh     0.000000     0.000000
..               ...                 ...          ...          ...
120             Swat  Khyber Pakhtunkhwa  3778.803922     0.000000
121             Tank  Khyber Pakhtunkhwa     0.000000     0.000000
122        Upper Dir  Khyber Pakhtunkhwa  1998.490196     0.000000
123   Upper Kohistan  Khyber Pakhtunkhwa  5221.427451     0.000000
124      Kolai-Palas  Khyber Pakhtunkhwa   990.988235     0.000000

     All Elevation
0      7286.466667
1        70.121569
2      9123.356863
3       226.333333
4      7352.356863
..             ...
120    6619.125490
121    3400.717647
122    3223.623529
123    6641.898039
124    1441.137255

[125 rows x 5 columns]

In [4]:
floods = pandas.read_excel('Floods_Timeseries.xlsx')
print(floods)

      month  year        City Name            Province flooded
0         2  2003            Badin               Sindh     YES
1         2  2003  Central Karachi               Sindh      NO
2         2  2003             Dadu               Sindh     YES
3         2  2003     East Karachi               Sindh      NO
4         2  2003           Ghotki               Sindh     YES
...     ...   ...              ...                 ...     ...
3995      7  2018             Swat  Khyber Pakhtunkhwa     YES
3996      7  2018             Tank  Khyber Pakhtunkhwa      NO
3997      7  2018        Upper Dir  Khyber Pakhtunkhwa     YES
3998      7  2018   Upper Kohistan  Khyber Pakhtunkhwa     YES
3999      7  2018      Kolai-Palas  Khyber Pakhtunkhwa      NO

[4000 rows x 5 columns]

In [5]:
weather = pandas.read_excel('Refined_Weather_Timeseries.xlsx')
print(weather.head())

   month  year        City Name        Lat        Lng Province  \
0      1  2003            Badin  24.763178  68.827560    Sindh
1      1  2003  Central Karachi  24.947833  67.060062    Sindh
2      1  2003             Dadu  26.751405  67.527545    Sindh
3      1  2003     East Karachi  24.930772  67.160347    Sindh
4      1  2003           Ghotki  27.830511  69.696524    Sindh

   mean_2m_air_temperature  total_precipitation
0               291.863581             0.004684
1               293.231416             0.003625
2               289.981446             0.000776
3               293.227951             0.003629
4               289.535516             0.005402

In [6]:
integratedDataset = weather.merge(floods, on=["month", "year", "City Name", "Province"], how="right").merge(elevations, on=["City Name", "Province"], how="left").merge(permanentWaterReserves, on=["City Name", "Province"], how="left")
integratedDataset['flooded'].fillna('NO', inplace=True)

In [8]:
column_order = ['month', 'year', 'City Name', 'Province', 'Lat', 'Lng', 'mean_2m_air_temperature', 'total_precipitation', 'Above 2500', 'Below 40', 'All Elevation', 'premWater','area',  'flooded']
integratedDataset = integratedDataset[column_order]
integratedDataset

,month,year,City Name,Province,Lat,Lng,mean_2m_air_temperature,total_precipitation,Above 2500,Below 40,All Elevation,premWater,area,flooded
0,2,2003,Badin,Sindh,24.763178,68.827560,295.028687,0.006125,0.000000,7286.466667,7286.466667,213100.172549,6.604870e+09,YES
1,2,2003,Central Karachi,Sindh,24.947833,67.060062,295.255163,0.003351,0.000000,37.254902,70.121569,2.027451,6.348250e+07,NO
2,2,2003,Dadu,Sindh,26.751405,67.527545,292.585169,0.004867,0.000000,1111.360784,9123.356863,160051.650980,8.121250e+09,YES
3,2,2003,East Karachi,Sindh,24.930772,67.160347,295.252340,0.003351,0.000000,91.333333,226.333333,85.196078,2.047757e+08,NO
4,2,2003,Ghotki,Sindh,27.830511,69.696524,292.045874,0.021952,0.000000,0.000000,7352.356863,57589.423529,6.488814e+09,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,7,2018,Swat,Khyber Pakhtunkhwa,35.232475,72.511635,288.543267,0.144815,3778.803922,0.000000,6619.125490,13968.298039,5.393805e+09,YES
3996,7,2018,Tank,Khyber Pakhtunkhwa,32.317156,70.375392,302.578444,0.189258,0.000000,0.000000,3400.717647,7402.411765,2.867340e+09,NO
3997,7,2018,Upper Dir,Khyber Pakhtunkhwa,35.405002,72.114440,290.037942,0.092807,1998.490196,0.000000,3223.623529,1572.396078,2.622859e+09,YES
3998,7,2018,Upper Kohistan,Khyber Pakhtunkhwa,35.423048,73.221918,287.044568,0.112655,5221.427451,0.000000,6641.898039,7520.270588,5.401930e+09,YES
3999,7,2018,Kolai-Palas,Khyber Pakhtunkhwa,35.066544,73.249767,289.596121,0.163310,990.988235,0.000000,1441.137255,1763.713725,1.177753e+09,NO

In [9]:
integratedDataset.to_csv('merged_data.csv', index=False)